<p id="notice"><%= notice %></p>

<h1>Listing Syllabuses</h1>

 <table class="table ">
  <thead>
    <tr>
      <th>Carrera</th>
      <th>Asignatura</th>
      <th>Año</th>
      <th>Cuatrimestre</th>
    </tr>
  </thead>

  <tbody>
    <% @syllabuses.each do |syllabus| %>
      <tr>
        <td><%= syllabus.career.name %></td>
        <td><%= syllabus.subject.name %></td>
        <td><%= syllabus.year %></td>
        <td><%= syllabus.quarter %></td>
        <td><%= link_to 'Show', syllabus %></td>
        <td><%= link_to 'Edit', edit_syllabus_path(syllabus) %></td>
        <td><%= link_to 'Destroy', syllabus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syllabus', new_syllabus_path %>
